
@{
    ViewBag.Title = "index";
}

<h1>NOTAS DE ESTUDIANTES DE LA UNIVERSIDAD DR.ANDRES BELLO</h1>
<style>
    h1{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size:75px;
        color:brown;

    }


</style>

}